.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.hero img {
  margin-top: 80px;
}

.hero h1 {
  text-align: center;
  width: 70%;
  font-size: 90px;
  font-weight: 600;
  color: var(--meta-blue);
}

.hero h1 span {
  background: linear-gradient(
    270deg,
    var(--gradient-start) 10%,
    var(--gradient-end) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  width: 50%;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
  color: black;
}

.hero-action {
  display: flex;
  gap: 25px;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
}

.hero-connect {
  padding: 25px 45px;
  border-radius: 50px;
  background: linear-gradient(
    264deg,
    var(--gradient-start) 10%,
    var(--gradient-end) 100%
  );
  cursor: pointer;
}

.hero-resume {
  padding: 25px 75px;
  border-radius: 50px;
  border: 2px solid var(--meta-dark-blue);
  color: var(--meta-dark-blue);
  cursor: pointer;
}

.hero-connect:hover {
  border: 2px solid var(--dark-green);
}

.hero-resume:hover {
  border-color: var(--gradient-start);
}

@media (max-width: 768px) {
  .hero img {
    margin-top: 120px;
    width: 260px;
  }

  .hero h1 {
    margin-top: 50px;
    width: 90%;
    font-size: 50px;
  }

  .hero p {
    width: 60%;
    font-size: 18px;
    line-height: 32px;
    margin: 10px 0px;
  }

  .hero-action {
    gap: 16px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
  }

  .hero-connect {
    padding: 20px 30px;
    border-radius: 40px;
  }

  .hero-resume {
    padding: 20px 50px;
    border-radius: 40px;
  }
}
