.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 0px 170px;
  padding: 80px 0px;
}

.about-title {
  position: relative;
}

.about-title h1 {
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 600;
  background: linear-gradient(
    270deg,
    var(--gradient-end) 10%,
    var(--gradient-start) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.about-sections {
  display: flex;
  gap: 80px;
}

.about-right {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.about-para {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 24px;
  font-weight: 500;
  color: black;
}

.about-skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-skill {
  display: flex;
  gap: 50px;
  align-items: center;
  transition: all 0.3s;
}

.about-skill p {
  min-width: 150px;
  font-size: 24px;
  font-weight: 500;
  color: black;
}

.about-skill hr {
  outline: none;
  border: none;
  width: 50%;
  height: 8px;
  border-radius: 50px;
  background: linear-gradient(
    264deg,
    var(--gradient-start) -5.09%,
    var(--gradient-end) 106.28%
  );
}

.about-achievements {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 80px;
}

.about-achievement {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: all 0.5s;
}

.about-achievement h1 {
  font-size: 60px;
  font-weight: 700;
  background: linear-gradient(
    270deg,
    var(--gradient-start) 50.41%,
    var(--gradient-end) 90.25%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-achievement p {
  font-size: 22px;
  font-weight: 500;
  color: var(--gradient-end);
}

.about-skill:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}

.about-achievement:hover {
  transform: scale(1.12);
  transition: all 0.5s;
}

.about-achievements hr {
  border: none;
  border-left: 8px solid var(--meta-blue);
  border-radius: 75px;
  height: 150px;
  margin: 0 50px;
}

@media (max-width: 768px) {
  .about {
    gap: 80px;
    margin: 0px 70px;
    padding: 50px 0px;
    align-items: start;
  }

  .about-title h1 {
    font-size: 50px;
    padding: 0;
  }

  .about-title img {
    width: 130px;
    right: -20px;
  }

  .about-sections {
    flex-direction: column;
  }

  .about-left {
    display: none;
  }

  .about-para {
    font-size: 18px;
    line-height: 32px;
  }

  .about-skill {
    gap: 20px;
    align-items: center;
  }

  .about-skill p {
    font-size: 20px;
  }

  .about-skill hr {
    height: 6px;
  }

  .about-achievements {
    justify-content: space-between;
  }

  .about-achievement {
    gap: 10px;
  }

  .about-achievement h1 {
    font-size: 34px;
    font-weight: 700;
  }

  .about-achievement p {
    text-align: center;
    font-size: 16px;
  }
}
