@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

:root {
  --light-green: #f0fff4;
  --dark-green: #22543d;
  --gradient-start: #48bb78;
  --gradient-end: #2f855a;
}

body {
  height: 100vh;
  background: black;
  color: var(--dark-green);
  font-family: "outfit";
}

#profile-img {
  min-width: 350px;
  min-height: 350px;
  max-width: 350px;
  max-width: 350px;
  border-radius: 50%;
}
